
body{
    font-family:'Arial Unicode MS',Arial,sans-serif;
}
.button1{
font-family:'Arial Unicode MS',Arial,sans-serif;
color: white;
font-size:15px;
position:absolute;
left:200px;
top:10px;
}
.button2{
font-family:'Arial Unicode MS',Arial,sans-serif;
color: white;
font-size:15px;
position:absolute;
left:260px;
top:10px;
}
.button3{
font-family:'Arial Unicode MS',Arial,sans-serif;
color: white;
font-size:15px;
position:absolute;
left:360px;
top:10px;
}
.button4{
font-family:'Arial Unicode MS',Arial,sans-serif;
color: white;
font-size:15px;
position:absolute;
left:440px;
top:10px;
}
.button5{
font-family:'Arial Unicode MS',Arial,sans-serif;
color: white;
font-size:15px;
position:absolute;
left:570px;
top:10px;
}
.button6{
font-family:'Arial Unicode MS',Arial,sans-serif;
color: white;
font-size:15px;
position:absolute;
left:650px;
top:10px;
}
#searchbox{
background-color:black;
width:20%;
padding:7px;
color:white;
font-family:'Arial Unicode MS',Arial,sans-serif;
position:absolute;
left:950px;
top:25px;
font-size:15px;
}
#searchimg{
top:30px;
position:absolute;
right:265px;
height:28px;
}
.text{
font-family:'Arial Unicode MS',Arial,sans-serif;
color: white;
font-size:15px;
position:absolute;
right:175px;
top:10px;
}
.icons{
top:15px;
position:absolute;
right:82px;
height:35px;
}
.accounts{
background-color:black;
font-family:'Arial Unicode MS',Arial,sans-serif;
width:1%;
color:white;
position:absolute;
right:69px;
top:20px;
font-size:15px;
border:none;
}
.bigimg{
opacity:0.5;
height:600px;
width:1500px;
}
.heading1{
position:absolute;
color:white;
left:90px;
top:70px;
font-family:Comic Sans MS;
font-size:100px;
font-weight:100;
}
.heading2{
position:absolute;
color:white;
top:150px;
left:100px;
font-family:Comic Sans MS;
font-size:100px;
font-weight:700;
}
.img1{
position:absolute;
left:90px;
top:150px;
}
.series{

position:absolute;
left:135px;
top:145px;
font-size:20px;
color:white;
letter-spacing:10px;
}
.top10{
position:absolute;
left:90px;
top:380px;
height:40px;
width:40px;
}
.title{
position:absolute;
left:150px;
top:360px;
font-family:Arial Unicode MS;
font-size:30px;
color:white;
}
.line1{

position:absolute;
left:90px;
top:420px;
font-size:20px;
color:white;
}
.line2{

position:absolute;
left:90px;
top:445px;
font-size:20px;
color:white;
}
.line3{

position:absolute;
left:90px;
top:470px;
font-size:20px;
color:white;
}
.play{
background-color:white;
color:black;
font-size:20px;
position:absolute;
left:90px;
top:530px;

padding: 10px 35px;
font-weight:700;
border-radius:6px;

}
.playimg{
height:20px;
width:20px;
}
.info{
background-color:grey;
color:white;
font-size:20px;
position:absolute;
left:250px;;
top:530px;

padding: 9px 33px;
font-weight:800;
border-radius:6px;
opacity:0.7;

}
.infoimg{
height:25px;
width:30px;
position:relative;
top:4px;
}
.shows{
position:absolute;
top:150px;
left:-70px;

color:white;
font-size:20px;
}
.netflix1{
opacity:1;
position:absolute;
top:200px;
left:-70px;
width:1450px
}
.continue{
position:absolute;
top:350px;
left:-70px;

color:white;
font-size:20px;
}
.netflix2{
opacity:1;
position:absolute;
top:400px;
left:-70px;
width:1450px
}
.trending{
position:absolute;
top:550px;
left:-70px;

color:white;
font-size:20px;
}
.netflix3{
opacity:2;
position:absolute;
top:600px;
left:-70px;
width:1450px
}







